node_modules/
.pnpm-store/
dist/
.DS_Store
*.log
test/screenshots/*.png
test/artifacts/
.build/
.swiftpm/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcuserdatad/
*.xcuserdata/
*.xcsettings
*.xcresult
*.ipa
*.dSYM
*.dSYM.zip
*.app
*.xctestrun
*.xcarchive
